
h1 {
    background: #CD853F;
    font-size: 35pt;
    font-family: "segoe print";
    text-align: center;
   }

p {
    font-size: 25pt;
   }

body {
    background: #EEE8AA;
   }

.b1 {
    background: #FFDEAD;
    font-size: 15pt;
    font-family: "segoe print";
    display: block;
    margin-left: auto;
    margin-right: auto
   }
   
.b2 {
    background: #FFDEAD;
    font-size: 15pt;
    font-family: "segoe print";
	}
   
IMG.welcomeImage {
    display: block;
    margin-left: auto;
    margin-right: auto }
   
   