<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Kupybaton</display-name>

	<!--NEW MAPPING-->

    <servlet>
		<servlet-name>ListSelect</servlet-name>
		<servlet-class>com.kupybaton.web.servlets.ListSelect</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ListSelect</servlet-name>
		<url-pattern>/lists.html</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PurchasePage</servlet-name>
		<servlet-class>com.kupybaton.web.servlets.PurchasePage</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PurchasePage</servlet-name>
        <url-pattern>/purchases.html</url-pattern>
	</servlet-mapping>

    <!--END OF NEW MAPPING-->






    <servlet>
		<servlet-name>CreateNewList</servlet-name>
		<servlet-class>com.kupybaton.web.servlets.CreateNewList</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CreateNewList</servlet-name>
        <url-pattern>/CreateNewList.do</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>AddOneMoreProduct</servlet-name>
		<servlet-class>com.kupybaton.web.servlets.AddOneMoreProduct</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AddOneMoreProduct</servlet-name>
        <url-pattern>/AddOneMoreProduct.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddFirstProduct</servlet-name>
		<servlet-class>com.kupybaton.web.servlets.AddFirstProduct</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AddFirstProduct</servlet-name>
        <url-pattern>/AddFirstProduct.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CreateNewProduct</servlet-name>
		<servlet-class>com.kupybaton.web.servlets.CreateNewProduct</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CreateNewProduct</servlet-name>
        <url-pattern>/CreateNewProduct.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CreateNewUnit</servlet-name>
		<servlet-class>com.kupybaton.web.servlets.CreateNewUnit</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CreateNewUnit</servlet-name>
        <url-pattern>/CreateNewUnit.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CreateNewCategory</servlet-name>
		<servlet-class>com.kupybaton.web.servlets.CreateNewCategory</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CreateNewCategory</servlet-name>
        <url-pattern>/CreateNewCategory.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>InsertValuesIntoProduct</servlet-name>
		<servlet-class>com.kupybaton.web.servlets.InsertValuesIntoProduct</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>InsertValuesIntoProduct</servlet-name>
        <url-pattern>/InsertValuesIntoProduct.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>InsertValuesIntoUnit</servlet-name>
		<servlet-class>com.kupybaton.web.servlets.InsertValuesIntoUnit</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>InsertValuesIntoUnit</servlet-name>
        <url-pattern>/InsertValuesIntoUnit.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>InsertValuesIntoCategory</servlet-name>
		<servlet-class>com.kupybaton.web.servlets.InsertValuesIntoCategory</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>InsertValuesIntoCategory</servlet-name>
        <url-pattern>/InsertValuesIntoCategory.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GetPurchaseProductsByListId</servlet-name>
		<servlet-class>com.kupybaton.web.servlets.GetPurchaseProductsByListId</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>GetPurchaseProductsByListId</servlet-name>
        <url-pattern>/GetPurchaseProductsByListId.do</url-pattern>
	</servlet-mapping>				

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
