<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Kupybaton</display-name>

	<filter>
		<filter-name>XSSFilter</filter-name>
		<filter-class>com.kupybaton.web.filter.XSSFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>XSSFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

    <servlet>
		<servlet-name>ListSelect</servlet-name>
		<servlet-class>com.kupybaton.web.servlets.ListSelect</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListSelect</servlet-name>
		<url-pattern>/lists.html</url-pattern>
	</servlet-mapping>

    <servlet>
        <servlet-name>AddNewList</servlet-name>
        <servlet-class>com.kupybaton.web.servlets.CreateNewList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddNewList</servlet-name>
        <url-pattern>/createNewList.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewList</servlet-name>
        <url-pattern>/addNewList.post</url-pattern>
    </servlet-mapping>

	<servlet>
		<servlet-name>PurchasePage</servlet-name>
		<servlet-class>com.kupybaton.web.servlets.PurchasePage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PurchasePage</servlet-name>
        <url-pattern>/purchases.html</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CreateNewPurchase</servlet-name>
		<servlet-class>com.kupybaton.web.servlets.CreateNewPurchase</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateNewPurchase</servlet-name>
        <url-pattern>/CreateNewPurchase.post</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CreateNewProduct</servlet-name>
		<servlet-class>com.kupybaton.web.servlets.CreateNewProduct</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateNewProduct</servlet-name>
        <url-pattern>/createNewProduct.post</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateNewProduct</servlet-name>
        <url-pattern>/createNewProduct.html</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CreateNewUnit</servlet-name>
		<servlet-class>com.kupybaton.web.servlets.CreateNewUnit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateNewUnit</servlet-name>
        <url-pattern>/CreateNewUnit.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateNewUnit</servlet-name>
        <url-pattern>/CreateNewUnit.post</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CreateNewCategory</servlet-name>
		<servlet-class>com.kupybaton.web.servlets.CreateNewCategory</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateNewCategory</servlet-name>
        <url-pattern>/CreateNewCategory.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateNewCategory</servlet-name>
        <url-pattern>/CreateNewCategory.post</url-pattern>
	</servlet-mapping>
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
